html
{
	background: url('images/vogon.jpg') no-repeat center center fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

#form-wrapper
{
	margin-top: 20vh;
	width: 100%;
	margin-right: auto;	
	margin-left: auto;
	text-align: center;
	border: 1px solid pink;
}

#gifVogondiv
{
	border :solid blue;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5vw;
	height: 10vw;
	text-align: center;
	z-index: 1;
	overflow: hidden;

}

#gifVogon
{
	margin-left: auto;
	margin-right: auto;
	width: 16%;
	border-radius: 150px;
	font-size: 25px;
	padding-bottom: -5%;
	z-index: 0;
}
.form {
	display: inline-block;
	border: 1px solid red;
	margin-left: 10px;
}

#poem-wrapper
{
	margin-top: 40vh;
	border: 1px solid green;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

#mypoem
{
	display: inline-block;
	margin-left: 50px;
	background: grey;
	border-radius: 10px;
	color: white;
	opacity: 0.8;
	font-size: 25px;
	padding: 25px;
}
