html
{
	background: url('./images/background.gif') no-repeat center center fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

#form-wrapper
{
	margin-top: 15vh;
	width: 100%;
	margin-right: auto;	
	margin-left: auto;
	text-align: center;
	border: 1px solid pink;
}

#gifVogondiv
{
	border :solid blue;
	margin-left: auto;
	margin-right: auto;
	margin-top: 11vh;
	height: 22vh;
	text-align: center;
	overflow: hidden;

}

#gifVogon
{
	margin-left: auto;
	margin-right: auto;
	width: 16vmin;
	border-radius: 150px;
	font-size: 25px;
	padding-bottom: -5%;
}

#fish
{
    border:none;
    height: 100px;
    width: 177px;
    background-size: 100%;
    background: url("./images/littlefish2.gif");
}

.form {
	width: 5%;
	display: inline-block;
	border: 1px solid red;
	margin-left: 10px;
}

.form img{
	width: 100%;
}

#poem-wrapper
{
	position: absolute;
	width: 18em;
	height: 90%;
	bottom: 0;
	left: 50%;
	margin-left: -7em;
	font-size: 5.5vmin;
	/*font-weight: bold;*/
	text-align: center;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(20deg);
	-webkit-transform-origin: 50% 100%;
	-webkit-transform: perspective(300px) rotateX(20deg);
}

#poem-wrapper-content
{
	position: absolute;
    top:0%;
	animation: scroll 20s linear 1s 1;
	-webkit-animation: scroll 20s linear 1s 1;
}

#poem-wrapper-content p {
    padding: 25px;
    border-radius: 25px;
    opacity: 0.8;
    background-color: #D9C4B3;

}

@-webkit-keyframes scroll
{
    0% { top:100%; }
    100% { top:-0%; }
}

@keyframes scroll
{
	0% { top: 100%; }
	100% { top: -0%; }
}
