html
{
	background: url('images/vogon.jpg') no-repeat center center fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

#form-wrapper
{
	margin-top: 15vh;
	width: 100%;
	margin-right: auto;	
	margin-left: auto;
	text-align: center;
	border: 1px solid pink;
}

#gifVogondiv
{
	border :solid blue;
	margin-left: auto;
	margin-right: auto;
	margin-top: 11vh;
	height: 22vh;
	text-align: center;
	overflow: hidden;

}

#gifVogon
{
	margin-left: auto;
	margin-right: auto;
	width: 16vmin;
	border-radius: 150px;
	font-size: 25px;
	padding-bottom: -5%;
}
.form {
	display: inline-block;
	border: 1px solid red;
	margin-left: 10px;
}

#poem-wrapper
{
	position: absolute;
	width: 18em;
	height: 100%;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 48px;
	font-weight: bold;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(25deg);
	-webkit-transform-origin: 50% 100%;
	-webkit-transform: perspective(300px) rotateX(25deg);
}

#poem-wrapper-content
{
	position: absolute;
    top:100px;
	animation: scroll 20s linear 1s 1;
	-webkit-animation: scroll 20s linear 1s 1;
}

@-webkit-keyframes scroll
{
    0% { top:900px; }
    100% { top: 100px; }
}

@keyframes scroll
{
	0% { top: 100%; }
	100% { top: -70%; }
}
